<section class="hero">  
  <div class="hero__content">
    <div class="hero__inner-content">
      <div class="hero__text">
        <h2>
          Hi, I'm Renzo D&iacute;az
          <span class="text-primary">A Full Stack Developer</span>
          9+ Years Building Web Apps That Scale and Delight
          <small>Remote-Ready!</small>
          <img src="<%= image_path "stacks.png" %>" alt="Full-Stack Rails Developer" />
        </h2>
      </div>
      <div class="hero__image">
        <figure>
          <img src="<%= image_path "renzodiaz-developer.jpeg" %>" alt="Renzo Diaz" />
          <figcaption>
            <p>👨🏻‍💻 The code lab! Where code becomes product<p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="about-section__wrapper">
      <h2>Career Timeline</h2>
      <ul class="timeline" data-controller="timeline">
        <li class="timeline__item">
          <span>2020</span>
          <div class="card" data-timeline-target="box">
            <figure>
              <img src="https://placehold.co/380x200" alt="Solven" />
              <figcaption>
                <h3 class="card__title font-semibold">Full-Stack Rails Developer at - <a href="" class="text-red">Solven</a></h3>
                <p>
                <strong>Solven</strong> is a fintech platform that offer online loans to peruvians people. The platform collects person infomation from different
                API's to get their credit score, national indentity. The process to get a loan is online, you have to take a picture with your 
                phone camera or webcam, next the face recognition software will process and return a match percentage with the photo from your national card (ID card).
                </p>
                <button type="button">See my duties:</button>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="timeline__item">
          <span>2020</span>
          <div class="card" data-timeline-target="box">
            <figure>
              <img src="https://placehold.co/380x200" alt="Solven" />
              <figcaption>
                <h3 class="card__title font-semibold">Full-Stack Rails Developer at - <a href="" class="text-red">Solven</a></h3>
                <p>
                <strong>Solven</strong> is a fintech platform that offer online loans to peruvians people. The platform collects person infomation from different
                API's to get their credit score, national indentity. The process to get a loan is online, you have to take a picture with your 
                phone camera or webcam, next the face recognition software will process and return a match percentage with the photo from your national card (ID card).
                </p>
                <button type="button">See my duties:</button>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="timeline__item">
          <span>2020</span>
          <div class="card" data-timeline-target="box">
            <figure>
              <img src="https://placehold.co/380x200" alt="Solven" />
              <figcaption>
                <h3 class="card__title font-semibold">Full-Stack Rails Developer at - <a href="" class="text-red">Solven</a></h3>
                <p>
                <strong>Solven</strong> is a fintech platform that offer online loans to peruvians people. The platform collects person infomation from different
                API's to get their credit score, national indentity. The process to get a loan is online, you have to take a picture with your 
                phone camera or webcam, next the face recognition software will process and return a match percentage with the photo from your national card (ID card).
                </p>
                <button type="button">See my duties:</button>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="timeline__item">
          <span>2020</span>
          <div class="card" data-timeline-target="box">
            <figure>
              <img src="https://placehold.co/380x200" alt="Solven" />
              <figcaption>
                <h3 class="card__title font-semibold">Full-Stack Rails Developer at - <a href="" class="text-red">Solven</a></h3>
                <p>
                <strong>Solven</strong> is a fintech platform that offer online loans to peruvians people. The platform collects person infomation from different
                API's to get their credit score, national indentity. The process to get a loan is online, you have to take a picture with your 
                phone camera or webcam, next the face recognition software will process and return a match percentage with the photo from your national card (ID card).
                </p>
                <button type="button">See my duties:</button>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="timeline__item">
          <span>2020</span>
          <div class="card" data-timeline-target="box">
            <figure>
              <img src="https://placehold.co/380x200" alt="Solven" />
              <figcaption>
                <h3 class="card__title font-semibold">Full-Stack Rails Developer at - <a href="" class="text-red">Solven</a></h3>
                <p>
                <strong>Solven</strong> is a fintech platform that offer online loans to peruvians people. The platform collects person infomation from different
                API's to get their credit score, national indentity. The process to get a loan is online, you have to take a picture with your 
                phone camera or webcam, next the face recognition software will process and return a match percentage with the photo from your national card (ID card).
                </p>
                <button type="button">See my duties:</button>
              </figcaption>
            </figure>
          </div>
        </li>
        <li class="timeline__item">
          <span>2020</span>
          <div class="card" data-timeline-target="box">
            <figure>
              <img src="https://placehold.co/380x200" alt="Solven" />
              <figcaption>
                <h3 class="card__title font-semibold">Full-Stack Rails Developer at - <a href="" class="text-red">Solven</a></h3>
                <p>
                <strong>Solven</strong> is a fintech platform that offer online loans to peruvians people. The platform collects person infomation from different
                API's to get their credit score, national indentity. The process to get a loan is online, you have to take a picture with your 
                phone camera or webcam, next the face recognition software will process and return a match percentage with the photo from your national card (ID card).
                </p>
                <button type="button">See my duties:</button>
              </figcaption>
            </figure>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
