@use '../settings/variables';
@use '../settings/mixins';

.header {
  font-family: variables.$font-semibold;
  left: 0;
  position: absolute;
  padding: 1rem 0;
  width: 100%;
  z-index: 2;

  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 1.5rem;

      @include mixins.responsive('sm') {
        font-size: 1.65rem;
      }

      span {
        color: red;
      }
    }
  }

  &__nav {
    @include mixins.responsive('sm') {
      display: flex;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: .85rem;
        vertical-align: top;

        @include mixins.responsive('sm') {
          font-size: .95rem;
        }

        a {
          padding: .3rem 1rem;
          transition: all .3s ease;

          &:hover {
            text-decoration: underline;
          }
        }

        &:last-child {
          font-size: .95rem;

          a {
            background-image: linear-gradient(45deg, #E04F67, #C72C4A, #7B1E6A, #4A1442);
          }
        }
      }
    }
  }
}
