@use "settings/fonts";
@use "settings/variables";
@use "settings/mixins";
@use "components/hero";

body  {
  color: white;
  background: variables.$background_dark;
  font-family: variables.$font-regular;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
