<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <h1><a href="<%= root_url %>">Renzo<span>D&iacute;az</span></a></h1>
      <button class="only-mobile">Menu</button>
      <nav class="header__nav">
        <ul>
          <li><a href="#about-section" data-controller="scroll-to">Work History</a></li>
          <li><a href="mailto: im.renzodiaz@gmail.com">Hire me!</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
