<div class="modal" data-modal-target="modal">
  <div>
    <div class="modal__dialog">
      <div class="modal__dialog-header">
        <h2 data-modal-target="title">Some title</h2>
        <button type="button" class="close" data-action="click->modal#close"></button>
      </div>
      <div class="modal__dialog-body">
        <turbo-frame data-modal-target="dialog" id="modal-content"></turbo-frame>
      </div>
    </div>
  </div>
</div>
